body,html{
    margin: 0;
    padding: 0;

}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
}

.secao{
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
    
}

.secao::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    transform: translateZ(-1px) scale(1.5);
}

.conteudo{
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: rgb(135, 164, 242);
    color: aliceblue;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);

}

.fundo1::before{
    background-image:url(img/img2.jpg);
}

.fundo2::before{
    background-image: url(img/img3.jpeg);
}